<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>bundleid</key>
    <string>com.urre.id</string>
    <key>connections</key>
    <dict>
      <key>20C5478A-E10C-434A-8E5F-7F8AD206A9E7</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>DBD10C76-339B-4475-8DAC-7FF19416514B</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>DBD10C76-339B-4475-8DAC-7FF19416514B</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>BBEC0329-5D11-4F84-A5B0-B7EEFA304615</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
      <key>F275466C-390F-43CC-91E5-EE1CCE836D85</key>
      <array>
        <dict>
          <key>destinationuid</key>
          <string>20C5478A-E10C-434A-8E5F-7F8AD206A9E7</string>
          <key>modifiers</key>
          <integer>0</integer>
          <key>modifiersubtext</key>
          <string/>
          <key>vitoclose</key>
          <false/>
        </dict>
      </array>
    </dict>
    <key>createdby</key>
    <string>Urban Sanden</string>
    <key>description</key>
    <string>Upload screenshots to Cloudinary</string>
    <key>disabled</key>
    <false/>
    <key>name</key>
    <string>Alfredinary</string>
    <key>objects</key>
    <array>
      <dict>
        <key>config</key>
        <dict>
          <key>concurrently</key>
          <false/>
          <key>escaping</key>
          <integer>102</integer>
          <key>script</key>
          <string>./node_modules/.bin/run-node index.js "$1"</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string/>
          <key>type</key>
          <integer>0</integer>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.script</string>
        <key>uid</key>
        <string>DBD10C76-339B-4475-8DAC-7FF19416514B</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>argumenttype</key>
          <integer>2</integer>
          <key>keyword</key>
          <string>alfredinary</string>
          <key>subtext</key>
          <string>Update available: 0.12.0 → 0.11.0. Run `npm install -g alfredinary`</string>
          <key>text</key>
          <string>Alfredinary</string>
          <key>withspace</key>
          <false/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.input.keyword</string>
        <key>uid</key>
        <string>F275466C-390F-43CC-91E5-EE1CCE836D85</string>
        <key>version</key>
        <integer>1</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>concurrently</key>
          <false/>
          <key>escaping</key>
          <integer>102</integer>
          <key>script</key>
          <string>username=$USER;

path=/users/${username}/dropbox/screenshots/
filename=screenshot.jpg
screencapture -o -i $path$filename</string>
          <key>scriptargtype</key>
          <integer>1</integer>
          <key>scriptfile</key>
          <string/>
          <key>type</key>
          <integer>0</integer>
        </dict>
        <key>type</key>
        <string>alfred.workflow.action.script</string>
        <key>uid</key>
        <string>20C5478A-E10C-434A-8E5F-7F8AD206A9E7</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
      <dict>
        <key>config</key>
        <dict>
          <key>autopaste</key>
          <false/>
          <key>clipboardtext</key>
          <string>{query}</string>
          <key>transient</key>
          <false/>
        </dict>
        <key>type</key>
        <string>alfred.workflow.output.clipboard</string>
        <key>uid</key>
        <string>BBEC0329-5D11-4F84-A5B0-B7EEFA304615</string>
        <key>version</key>
        <integer>2</integer>
      </dict>
    </array>
    <key>readme</key>
    <string/>
    <key>uidata</key>
    <dict>
      <key>20C5478A-E10C-434A-8E5F-7F8AD206A9E7</key>
      <dict>
        <key>colorindex</key>
        <integer>3</integer>
        <key>xpos</key>
        <integer>290</integer>
        <key>ypos</key>
        <integer>340</integer>
      </dict>
      <key>BBEC0329-5D11-4F84-A5B0-B7EEFA304615</key>
      <dict>
        <key>colorindex</key>
        <integer>12</integer>
        <key>xpos</key>
        <integer>690</integer>
        <key>ypos</key>
        <integer>370</integer>
      </dict>
      <key>DBD10C76-339B-4475-8DAC-7FF19416514B</key>
      <dict>
        <key>colorindex</key>
        <integer>7</integer>
        <key>xpos</key>
        <integer>480</integer>
        <key>ypos</key>
        <integer>140</integer>
      </dict>
      <key>F275466C-390F-43CC-91E5-EE1CCE836D85</key>
      <dict>
        <key>colorindex</key>
        <integer>2</integer>
        <key>xpos</key>
        <integer>70</integer>
        <key>ypos</key>
        <integer>150</integer>
      </dict>
    </dict>
    <key>webaddress</key>
    <string>https://urre.me</string>
  </dict>
</plist>